body{
  width:357px;
  height:600px;
  padding:0;
  margin:0;
}

.iframe-wrapper{
  transform-origin: left top;
  transform: scale(0.8);
  position: relative;
  height: 750px;
  width: 446px;
  overflow: hidden;
}
#iframe{
  position: absolute;
  top: -380px;
  left: 0;
  width: 105%;
  height: calc(100% + 422px);
}
.price-list{
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  background: #fff;
  flex-wrap: wrap;
}
.price-list>div{
  padding: 5px 10px;
  text-align: center;
}
.price-list .label{
  font-size: 8px;
  color: #ccc;
}
.price-list .value{
  font-size: 14px;
}